---
import Counter from '../components/Counter';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<a href="/page2">Go to page 2</a>
	<a href="/page3">Go to page 3</a>

    <h2>画面遷移してもカウンターはそのまま</h2>
    <Counter client:load transition:persist="counter"/>

	<h2>videoの場合はページ遷移で再生が止まるのを避けられる</h2>
	<video controls="" autoplay="" transition:persist="media-player">
		<source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
	</video>

	<h2>iframeの場合はページ遷移で再生が止まるのを避けられない</h2>
	<div transition:persist="youtube">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/KQeYtJvuuEI?si=QVp7IyfK0wg7Bp0_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>
</Layout>
